

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://tse1.mm.bing.net/th?id=OIF.t6JmXAk%2bHqwMI%2f%2bl30o70w&pid=Api&P=0&w=167&h=167" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE JUNGLE BOOK</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                       

                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img src="https://img.ricardostatic.ch/t_1000x750/pl/1208877774/0/1/grace-robert-lacey-english-book.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">GRACE ROBERT LACEY</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>  
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img src="https://anylang.net/sites/default/files/styles/book_image/public/covers/ruth.jpg?itok=1BCIzDuT" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">ELIZABATH GASKELL</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://olx-bh-production.s3.amazonaws.com/thumbnails/1531298-400x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PLACEBO JUNKIES</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://images.tokopedia.net/img/cache/500-square/hDjmkQ/2022/6/6/27f10cc4-320d-4415-bcc2-567d307329cd.jpg?ect=4g" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE CRUX</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://olx-bh-production.s3.amazonaws.com/thumbnails/1531297-400x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE STARS NEVER RISE</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://olx-bh-production.s3.amazonaws.com/thumbnails/1531300-400x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">KNIGHTS OF THE BORROWED DARK</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img src="https://images.squarespace-cdn.com/content/v1/5b022d5d4eddecdafe5df3f6/1624634914546-CUGO533RDSTAQO3OGDDE/ayyuhal-walad-cover.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">O SON</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img src="https://d2na0fb6srbte6.cloudfront.net/read/imageapi/coverforissue/61767/book/300/new" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NEW TRENDS IN TEACHING ENGLISH</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img src="https://www.picclickimg.com/d/l400/pict/155039059316_/Discipline-GW-NEW-English-Anderson-Marina-Little-Brown.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE DISCIPLINE</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







